:root {
  --title-font: 'Luckiest Guy';
  --main-font: 'Chelsea Market';
  --secondary-font: cursive;
  --dark--color: #293462;
  --section-color: #fff1c1;
  --aside-section: rgba(255,130,70, .9);
  --text-color: #1c2938;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font), var(--secondary-font);
  background-color: var(--dark--color);
  color: var(--text-color);
}

/* UTILITIES */
.container {
  width: 75%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: .8rem;
  padding-right: .8rem;
}

.b-radius-10 {
  border-radius: 10px;
}

.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

.ratio-16-9 {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* MAIN STYLES */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0px -15px 50px #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--title-font),  var(--secondary-font);
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

.navbar__list {
  list-style: none;
  display: flex;
}

.navbar__item {
  margin-left: 2rem;
}

.navbar__link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.navbar__link:visited {
  color: var(--text-color);
}

main {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    'aside section section section'
    'aside section section section';

  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem;
}

aside {
  grid-area: aside;
  background-color: var(--aside-section);
  padding: 1rem;
  font-size: .9rem;
}

.widget {
  background-color: var(--section-color);
  text-align: right;
  border-radius: 10px;
  overflow: hidden;
}

.widget__img {
  margin: 1rem 0;
}

.widget__description {
  background-color: #fff;
  padding: 1rem;
}

section {
  grid-area: section;
  background-color: var(--section-color);
  padding: 1rem;
}

.article h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 876px) {
  body {
    font-size: 15px;
  }
  main {
    grid-template-areas: 
      'section section section section'
      'aside aside aside aside';
    align-items: baseline;
  }
  .navbar__link {
    font-size: 1rem;
    letter-spacing: -2px;
  }
}